.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.code {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

@media (prefers-color-scheme: dark) {
    .canecodark {
        display: initial !important;
    }

    .canecolight {
        display: none;
    }
}


.canecodark {
    display: none;
}

