/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */


.heroBanner {
    text-align: center;
    position: relative;
    overflow: hidden;
    padding: 0;
    color: #d6cda3;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 1rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}


.bg {
    background-color:#3F3E58;
    height:100%;
    width: 75%;
    padding-bottom: 4em;
    padding-top: 4em;
}